@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
  scroll-behavior: smooth;
}

.body {
  position: relative;
  height: 100%;
}

.lock {
  overflow: hidden;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  height: 864px;
  background-image: url("../img/background_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 992px) {
  .header {
    background: none;
  }
}
.header .nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}
@media (max-width: 992px) {
  .header .nav__header {
    background-color: #1F1F1F;
  }
}
.header .nav__header .logo {
  margin-left: 20px;
  position: relative;
  top: 15px;
  z-index: 2;
}
.header .nav__header .logo img {
  max-width: 150px;
}
@media (max-width: 992px) {
  .header .nav__header .logo {
    top: 0;
  }
}
@media (max-width: 768px) {
  .header .nav__header .logo {
    margin: 10px;
  }
}
@media (max-width: 768px) {
  .header .nav__header .header__mobmenu {
    display: block;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 28px;
    right: 10px;
    z-index: 3;
  }
}
@media (max-width: 768px) {
  .header .nav__header .header__mobmenu span {
    position: absolute;
    background-color: #EEAF22;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 768px) {
  .header .nav__header .header__mobmenu:before, .header .nav__header .header__mobmenu:after {
    content: "";
    background-color: #EEAF22;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    z-index: 3;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 768px) {
  .header .nav__header .header__mobmenu:before {
    top: 0;
  }
}
@media (max-width: 768px) {
  .header .nav__header .header__mobmenu:after {
    bottom: 0;
  }
}
@media (max-width: 768px) {
  .header .nav__header .header__mobmenu.active span {
    transform: scale(0);
  }
}
@media (max-width: 768px) {
  .header .nav__header .header__mobmenu.active:before {
    transform: rotate(45deg);
    top: 9px;
    background-color: #EEAF22;
  }
}
@media (max-width: 768px) {
  .header .nav__header .header__mobmenu.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #EEAF22;
  }
}
.header .nav__header .header__item-nav {
  margin-top: 35px;
  margin-right: 25px;
}
@media (max-width: 1580px) {
  .header .nav__header .header__item-nav {
    margin-top: 30px;
  }
}
@media (max-width: 1500px) {
  .header .nav__header .header__item-nav {
    margin-top: 28px;
  }
}
@media (max-width: 1250px) {
  .header .nav__header .header__item-nav {
    margin-top: 26px;
    padding-right: 20px;
  }
}
@media (max-width: 992px) {
  .header .nav__header .header__item-nav {
    margin-bottom: 26px;
  }
}
@media (max-width: 768px) {
  .header .nav__header .header__item-nav {
    margin-top: 0;
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease 0s;
  }
}
.header .nav__header .header__item-nav.active {
  padding-top: 80px;
  top: 0;
}
.header .nav__header .header__item-nav ul {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .header .nav__header .header__item-nav ul {
    display: block;
  }
}
.header .nav__header .header__item-nav ul li {
  margin-left: 60px;
}
@media (max-width: 1250px) {
  .header .nav__header .header__item-nav ul li {
    margin-left: 40px;
  }
}
@media (max-width: 992px) {
  .header .nav__header .header__item-nav ul li {
    margin-left: 32px;
  }
}
@media (max-width: 768px) {
  .header .nav__header .header__item-nav ul li {
    margin-left: 0;
    padding: 0 0 20px 0;
    text-align: center;
  }
}
.header .nav__header .header__item-nav ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}
.header .nav__header .header__item-nav ul li a:hover {
  color: #EEAF22;
}
.header .nav__header .header__item-nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #EEAF22;
  transition: width 0.5s ease-out;
}
.header .nav__header .header__item-nav ul li a:hover::before {
  width: 100%;
}
.header .nav__header .header__item-nav ul li .button {
  transform: skewX(-40deg);
}
.header .nav__header .header__item-nav ul li .button > div {
  transform: skewX(40deg);
}
.header .nav__header .header__item-nav ul li .button {
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid #EEAF22;
  background: transparent;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.3s linear;
}
.header .nav__header .header__item-nav ul li .button:hover {
  cursor: pointer;
  background: #EEAF22;
  color: #1F1F1F;
}
.header .img-mobile {
  display: none;
}
@media (max-width: 992px) {
  .header .img-mobile {
    display: block;
    background-image: url("../img/mobile_header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 784px;
  }
}
@media (max-width: 580px) {
  .header .img-mobile {
    height: 584px;
  }
}
.header .column__header {
  margin-top: 114px;
  width: 50%;
  padding-left: 10px;
}
@media (max-width: 1250px) {
  .header .column__header {
    margin-top: 135px;
    width: 60%;
  }
}
@media (max-width: 992px) {
  .header .column__header {
    margin-top: 0;
    width: 100%;
    background-color: #1F1F1F;
    padding: 60px 0;
  }
}
.header .column__header h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #FFFFFF;
  line-height: 1.2;
}
@media (max-width: 992px) {
  .header .column__header h1 {
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 580px) {
  .header .column__header h1 {
    width: 100%;
    font-size: 32px;
  }
}
.header .column__header p {
  margin: 26px 0;
  width: 385px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 1.2;
}
@media (max-width: 992px) {
  .header .column__header p {
    width: 70%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 580px) {
  .header .column__header p {
    width: 100%;
    font-size: 16px;
  }
}
.header .column__header .button {
  transform: skewX(-40deg);
}
.header .column__header .button > div {
  transform: skewX(40deg);
}
.header .column__header .button {
  margin-left: 6px;
  display: inline-block;
  padding: 8px 30px;
  border: 0;
  outline: 0;
  background: #EEAF22;
  border: 2px solid #EEAF22;
  color: #1F1F1F;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.3s linear;
}
.header .column__header .button:hover {
  border: 2px solid #EEAF22;
  background: transparent;
  color: #FFFFFF;
}
@media (max-width: 992px) {
  .header .column__header .button {
    margin-left: 40px;
  }
}

.modal .w3-modal {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal .w3-modal .w3-modal-content {
  width: 382px;
}
.modal .w3-modal .w3-modal-content .w3-teal {
  background-color: #1F1F1F !important;
}
.modal .w3-modal .w3-modal-content .w3-teal .w-button {
  padding: 8px 18px;
  color: #EEAF22;
  font-size: 24px;
  cursor: pointer;
}
.modal .w3-modal .w3-modal-content .w3-teal .w-button:hover {
  font-size: 26px;
}
.modal .w3-modal .w3-modal-content .w3-teal .discount_form {
  padding: 54px 26px 78px 20px;
  max-width: 382px;
  background-color: #1F1F1F;
}
@media (max-width: 600px) {
  .modal .w3-modal .w3-modal-content .w3-teal .discount_form {
    margin: 0 auto;
  }
}
@media (max-width: 420px) {
  .modal .w3-modal .w3-modal-content .w3-teal .discount_form {
    max-width: 280px;
  }
}
@media (max-width: 328px) {
  .modal .w3-modal .w3-modal-content .w3-teal .discount_form {
    padding: 30px 0px 44px 0px;
  }
}
.modal .w3-modal .w3-modal-content .w3-teal .discount_form h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
.modal .w3-modal .w3-modal-content .w3-teal .discount_form h4 span {
  color: #EEAF22;
}
.modal .w3-modal .w3-modal-content .w3-teal .discount_form p {
  padding: 16px 20px 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 420px) {
  .modal .w3-modal .w3-modal-content .w3-teal .discount_form p {
    padding: 0px;
  }
}
.modal .w3-modal .w3-modal-content .w3-teal .discount_form form {
  margin: 0 auto;
  max-width: 276px;
}
.modal .w3-modal .w3-modal-content .w3-teal .discount_form form label {
  padding-bottom: 4px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.4);
}
.modal .w3-modal .w3-modal-content .w3-teal .discount_form form input.error {
  border-radius: red;
}
.modal .w3-modal .w3-modal-content .w3-teal .discount_form form input[name=phone] {
  padding-left: 18px;
  width: 280px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  background-color: transparent;
  color: #fff;
}
@media (max-width: 420px) {
  .modal .w3-modal .w3-modal-content .w3-teal .discount_form form input[name=phone] {
    width: 220px;
    height: 40px;
  }
}
.modal .w3-modal .w3-modal-content .w3-teal .discount_form input[type=submit] {
  width: 280px;
  margin-top: 20px;
  display: inline-block;
  padding: 8px 70px;
  border: 0;
  outline: 0;
  background: #EEAF22;
  border: 2px solid #EEAF22;
  color: #1F1F1F;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.3s linear;
}
@media (max-width: 420px) {
  .modal .w3-modal .w3-modal-content .w3-teal .discount_form input[type=submit] {
    width: 220px;
    height: 40px;
  }
}
.modal .w3-modal .w3-modal-content .w3-teal .discount_form input[type=submit]:hover {
  border: 2px solid #EEAF22;
  background: transparent;
  color: #FFFFFF;
  cursor: pointer;
}

.mess .alert.alert-success {
  background-color: #81aa81;
  color: #d7e5d8;
  padding: 6px;
  margin: 12px 26px 0 30px;
}
.mess .alert.alert-danger {
  background-color: #e90c08;
  color: #ffbcbc;
  padding: 6px;
  margin: 12px 26px 0 30px;
}

.about {
  padding: 100px 10px;
}
@media (max-width: 992px) {
  .about {
    margin-top: 360px;
  }
}
@media (max-width: 768px) {
  .about {
    padding-bottom: 80px;
  }
}
@media (max-width: 580px) {
  .about {
    margin-top: 112px;
  }
}
@media (max-width: 432px) {
  .about {
    margin-top: 130px;
  }
}
.about__body {
  width: 100%;
  display: flex;
  align-items: center;
}
.about__body .about__img {
  width: 70%;
}
@media (max-width: 992px) {
  .about__body .about__img {
    margin-top: 50px;
    width: 60%;
  }
}
@media (max-width: 768px) {
  .about__body .about__img {
    width: 50%;
    position: relative;
    top: 0;
    left: -150px;
  }
}
@media (max-width: 580px) {
  .about__body .about__img {
    width: 0%;
  }
}
.about__body .about__img .img__deskop {
  display: block;
  max-width: 700px;
}
@media (max-width: 992px) {
  .about__body .about__img .img__deskop {
    max-width: 500px;
  }
}
@media (max-width: 580px) {
  .about__body .about__img .img__deskop {
    display: none;
  }
}
.about__body .about__title {
  width: 30%;
  padding-left: 32px;
}
@media (max-width: 992px) {
  .about__body .about__title {
    width: 40%;
    padding-left: 70px;
  }
}
@media (max-width: 768px) {
  .about__body .about__title {
    width: 50%;
  }
}
@media (max-width: 580px) {
  .about__body .about__title {
    width: 100%;
    padding-left: 0px;
  }
}
@media (max-width: 345px) {
  .about__body .about__title {
    margin-top: 80px;
  }
}
.about__body .about__title-text {
  margin-top: 38px;
  display: block;
}
@media (max-width: 992px) {
  .about__body .about__title-text {
    margin-top: 20px;
  }
}
@media (max-width: 580px) {
  .about__body .about__title-text {
    margin-top: 38px;
  }
}
.about__body .about__title-text h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  color: #EEAF22;
  text-shadow: 1px 1px #000;
}
@media (max-width: 768px) {
  .about__body .about__title-text h2 {
    font-size: 48px;
  }
}
.about__body .about__title-text P {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}

.insteresting {
  padding: 100px 0;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}
.insteresting .insteresting__body h2 {
  margin-bottom: 50px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #1F1F1F;
  text-align: center;
}
@media (max-width: 1080px) {
  .insteresting .insteresting__body h2 {
    margin-bottom: 36px;
  }
}
.insteresting .insteresting__body .tab {
  overflow: hidden;
  text-align: center;
}
.insteresting .insteresting__body .tab button {
  transform: skewX(-40deg);
}
.insteresting .insteresting__body .tab button > div {
  transform: skewX(40deg);
}
.insteresting .insteresting__body .tab button {
  margin: 0 10px 0 10px;
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid #EEAF22;
  background: transparent;
  color: #1F1F1F;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s linear;
}
.insteresting .insteresting__body .tab button:hover {
  background: #EEAF22;
  color: #1F1F1F;
}
.insteresting .insteresting__body .tab button.active {
  background: #EEAF22;
  color: #1F1F1F;
}
@media (max-width: 768px) {
  .insteresting .insteresting__body .tab button {
    margin: 10px;
  }
}
.insteresting .insteresting__body .tabcontent {
  display: none;
  padding: 6px 0px;
}
.insteresting .insteresting__body .tabcontent .insteresting__header .insteresting__text {
  transform: skewX(-10deg);
}
.insteresting .insteresting__body .tabcontent .insteresting__header .insteresting__text > div {
  transform: skewX(10deg);
}
@media (max-width: 1080px) {
  .insteresting .insteresting__body .tabcontent .insteresting__header .insteresting__text > div {
    transform: skewX(0deg);
  }
}
.insteresting .insteresting__body .tabcontent .insteresting__header .insteresting__text {
  width: 50%;
  padding-left: 60px;
  margin: 80px;
  height: 500px;
  position: relative;
  display: inline-block;
  background: #1F1F1F;
}
@media (max-width: 1080px) {
  .insteresting .insteresting__body .tabcontent .insteresting__header .insteresting__text {
    width: 100%;
    margin: 30px 0px 0px 0px;
    transform: skewX(0deg);
  }
}
@media (max-width: 1080px) {
  .insteresting .insteresting__body .tabcontent .insteresting__header .insteresting__text {
    padding-left: 20px;
    padding-bottom: 90px;
    height: auto;
  }
}
.insteresting .insteresting__body .tabcontent .insteresting__header .insteresting__text h4 {
  margin-top: 42px;
  margin-bottom: 18px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  font-size: 24px;
  color: #FFFFFF;
}
@media (max-width: 1250px) {
  .insteresting .insteresting__body .tabcontent .insteresting__header .insteresting__text h4 {
    margin-top: 50px;
  }
}
.insteresting .insteresting__body .tabcontent .insteresting__header .insteresting__text p {
  margin-right: 10px;
  margin-bottom: 20px;
  width: 50%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 129.68%;
  color: #FFFFFF;
}
@media (max-width: 1080px) {
  .insteresting .insteresting__body .tabcontent .insteresting__header .insteresting__text p {
    margin: 0;
    width: 80%;
  }
}
.insteresting .insteresting__body .tabcontent .insteresting__header .insteresting__img {
  position: absolute;
  top: 290px;
  right: 150px;
}
@media (max-width: 1250px) {
  .insteresting .insteresting__body .tabcontent .insteresting__header .insteresting__img {
    right: 50px;
  }
}
@media (max-width: 1080px) {
  .insteresting .insteresting__body .tabcontent .insteresting__header .insteresting__img {
    display: none;
  }
}
.insteresting .insteresting__body .tabcontent .insteresting__header .insteresting__img img {
  max-width: 660px;
}

.price {
  margin: 100px 0;
}
.price .price__body .price__title {
  display: flex;
  align-items: center;
}
.price .price__body .price__title h3 {
  margin: 0 80px;
  width: 216px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #1F1F1F;
}
@media (max-width: 768px) {
  .price .price__body .price__title h3 {
    margin: 0 20px;
  }
}
.price .price__body .price__title p {
  width: 386px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-left: 20px;
}
@media (max-width: 374px) {
  .price .price__body .price__title p {
    margin: 0 20px;
  }
}
@media (max-width: 380px) {
  .price .price__body .price__title p {
    display: none;
  }
}
.price .price__body .swiper {
  margin: 0 20px;
  width: 100%;
  height: 100%;
}
@media (max-width: 992px) {
  .price .price__body .swiper {
    margin: 20px 0;
  }
}
.price .price__body .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
}
.price .price__body .swiper .swiper-slide .price__header .price__text {
  transform: skewX(8deg);
}
@media (max-width: 992px) {
  .price .price__body .swiper .swiper-slide .price__header .price__text {
    transform: skewX(0deg);
  }
}
.price .price__body .swiper .swiper-slide .price__header .price__text > div {
  transform: skewX(-8deg);
  padding-right: 10px;
  padding-top: 60px;
  padding-left: 520px;
  text-align: left;
  line-height: 30px;
}
@media (max-width: 1154px) {
  .price .price__body .swiper .swiper-slide .price__header .price__text > div {
    padding-top: 26px;
  }
}
@media (max-width: 992px) {
  .price .price__body .swiper .swiper-slide .price__header .price__text > div {
    transform: skewX(0deg);
  }
}
@media (max-width: 810px) {
  .price .price__body .swiper .swiper-slide .price__header .price__text > div {
    padding-left: 460px;
  }
}
@media (max-width: 768px) {
  .price .price__body .swiper .swiper-slide .price__header .price__text > div {
    padding: 60px;
  }
}
.price .price__body .swiper .swiper-slide .price__header .price__text {
  width: 76%;
  margin: 80px 0 80px 80px;
  height: 500px;
  position: relative;
  display: inline-block;
  background: #1F1F1F;
}
@media (max-width: 992px) {
  .price .price__body .swiper .swiper-slide .price__header .price__text {
    width: 100%;
    margin: 0px;
  }
}
@media (max-width: 768px) {
  .price .price__body .swiper .swiper-slide .price__header .price__text {
    width: 100%;
    height: auto;
  }
}
.price .price__body .swiper .swiper-slide .price__header .price__text h4 {
  padding-right: 20px;
  margin-bottom: 24px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
}
.price .price__body .swiper .swiper-slide .price__header .price__text p {
  margin-bottom: 20px;
  padding-right: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 129.68%;
  color: #FFFFFF;
}
@media (max-width: 992px) {
  .price .price__body .swiper .swiper-slide .price__header .price__text p {
    padding-right: 48px;
  }
}
.price .price__body .swiper .swiper-slide .price__header .price__text .button {
  transform: skewX(-40deg);
}
.price .price__body .swiper .swiper-slide .price__header .price__text .button > div {
  transform: skewX(40deg);
}
.price .price__body .swiper .swiper-slide .price__header .price__text .button {
  margin-left: 16px;
  display: inline-block;
  padding: 8px 30px;
  border: 0;
  outline: 0;
  background: #EEAF22;
  border: 2px solid #EEAF22;
  color: #1F1F1F;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.3s linear;
}
.price .price__body .swiper .swiper-slide .price__header .price__text .button:hover {
  border: 2px solid #EEAF22;
  background: transparent;
  color: #FFFFFF;
}
.price .price__body .swiper .swiper-slide .price__header .price__img {
  position: absolute;
  top: 42px;
  left: 80px;
  z-index: 1;
}
@media (max-width: 992px) {
  .price .price__body .swiper .swiper-slide .price__header .price__img {
    left: 66px;
  }
}
@media (max-width: 810px) {
  .price .price__body .swiper .swiper-slide .price__header .price__img {
    top: 62px;
  }
}
@media (max-width: 768px) {
  .price .price__body .swiper .swiper-slide .price__header .price__img {
    display: none;
  }
}
.price .price__body .swiper .swiper-slide .price__header .price__img img {
  max-width: 660px;
}
@media (max-width: 992px) {
  .price .price__body .swiper .swiper-slide .price__header .price__img img {
    max-width: 410px;
  }
}
@media (max-width: 810px) {
  .price .price__body .swiper .swiper-slide .price__header .price__img img {
    max-width: 380px;
  }
}
.price .price__body .swiper .swiper-button-next:after {
  content: "";
}
.price .price__body .swiper .swiper-button-prev:after {
  content: "";
}
.price .price__body .swiper .fas {
  padding: 10px 12px;
  color: #1F1F1F;
  background-color: #EEAF22;
  font-size: 24px;
}

.modal_2 .w3-modal {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal_2 .w3-modal .w3-modal-content {
  width: 382px;
}
.modal_2 .w3-modal .w3-modal-content .w3-teal {
  background-color: #1F1F1F !important;
}
.modal_2 .w3-modal .w3-modal-content .w3-teal .w-button {
  padding: 8px 18px;
  color: #EEAF22;
  font-size: 24px;
  cursor: pointer;
}
.modal_2 .w3-modal .w3-modal-content .w3-teal .w-button:hover {
  font-size: 26px;
}
.modal_2 .w3-modal .w3-modal-content .w3-teal .discount_form {
  padding: 54px 26px 78px 20px;
  max-width: 382px;
  background-color: #1F1F1F;
}
@media (max-width: 600px) {
  .modal_2 .w3-modal .w3-modal-content .w3-teal .discount_form {
    margin: 0 auto;
  }
}
@media (max-width: 420px) {
  .modal_2 .w3-modal .w3-modal-content .w3-teal .discount_form {
    max-width: 280px;
  }
}
@media (max-width: 328px) {
  .modal_2 .w3-modal .w3-modal-content .w3-teal .discount_form {
    padding: 30px 0px 44px 0px;
  }
}
.modal_2 .w3-modal .w3-modal-content .w3-teal .discount_form h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
}
.modal_2 .w3-modal .w3-modal-content .w3-teal .discount_form h4 span {
  color: #EEAF22;
}
.modal_2 .w3-modal .w3-modal-content .w3-teal .discount_form p {
  padding: 16px 20px 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 420px) {
  .modal_2 .w3-modal .w3-modal-content .w3-teal .discount_form p {
    padding: 0px;
  }
}
.modal_2 .w3-modal .w3-modal-content .w3-teal .discount_form form {
  margin: 0 auto;
  width: 276px;
}
.modal_2 .w3-modal .w3-modal-content .w3-teal .discount_form form label {
  padding-bottom: 4px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.4);
}
.modal_2 .w3-modal .w3-modal-content .w3-teal .discount_form form input[name=phone] {
  padding-left: 18px;
  width: 280px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  background-color: transparent;
  color: #fff;
}
@media (max-width: 420px) {
  .modal_2 .w3-modal .w3-modal-content .w3-teal .discount_form form input[name=phone] {
    width: 220px;
    height: 40px;
  }
}
.modal_2 .w3-modal .w3-modal-content .w3-teal .discount_form form input[type=submit] {
  width: 280px;
  margin-top: 20px;
  display: inline-block;
  padding: 8px 70px;
  border: 0;
  outline: 0;
  background: #EEAF22;
  border: 2px solid #EEAF22;
  color: #1F1F1F;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.3s linear;
}
@media (max-width: 420px) {
  .modal_2 .w3-modal .w3-modal-content .w3-teal .discount_form form input[type=submit] {
    width: 220px;
    height: 40px;
  }
}
.modal_2 .w3-modal .w3-modal-content .w3-teal .discount_form form input[type=submit]:hover {
  border: 2px solid #EEAF22;
  background: transparent;
  color: #FFFFFF;
  cursor: pointer;
}

.galereya {
  margin-bottom: 100px;
}
.galereya .galereya_body h2 {
  margin-bottom: 50px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #1F1F1F;
  text-align: center;
}
@media (max-width: 1080px) {
  .galereya .galereya_body h2 {
    margin-bottom: 36px;
  }
}
.galereya .galereya_body .tab {
  overflow: hidden;
  text-align: center;
}
.galereya .galereya_body .tab button {
  transform: skewX(-40deg);
}
.galereya .galereya_body .tab button > div {
  transform: skewX(40deg);
}
.galereya .galereya_body .tab button {
  margin: 0 10px 0 10px;
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid #EEAF22;
  background: transparent;
  color: #1F1F1F;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s linear;
}
.galereya .galereya_body .tab button:hover {
  background: #EEAF22;
  color: #1F1F1F;
}
.galereya .galereya_body .tab button.active {
  background: #EEAF22;
  color: #1F1F1F;
}
@media (max-width: 768px) {
  .galereya .galereya_body .tab button {
    margin: 10px;
  }
}
.galereya .galereya_body .tabcontent_2 .galereya_images {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .galereya .galereya_body .tabcontent_2 .galereya_images .img_col1 {
    display: none;
  }
}
.galereya .galereya_body .tabcontent_2 .galereya_images .img_col1 img {
  max-width: 500px;
}
@media (max-width: 1024px) {
  .galereya .galereya_body .tabcontent_2 .galereya_images .img_col1 img {
    max-width: 346px;
  }
}
.galereya .galereya_body .tabcontent_2 .galereya_images .img_col2 {
  margin-left: 24px;
  display: block;
}
@media (max-width: 1024px) {
  .galereya .galereya_body .tabcontent_2 .galereya_images .img_col2 {
    margin-left: 14px;
  }
}
.galereya .galereya_body .tabcontent_2 .galereya_images .img_col2 .img_col2-1 img {
  max-width: 466px;
  margin-top: 4px;
}
@media (max-width: 1024px) {
  .galereya .galereya_body .tabcontent_2 .galereya_images .img_col2 .img_col2-1 img {
    max-width: 324px;
  }
}
.galereya .galereya_body .tabcontent_2 .galereya_images .img_col2 .img_col2-2 {
  margin-top: 8px;
  display: flex;
}
@media (max-width: 1024px) {
  .galereya .galereya_body .tabcontent_2 .galereya_images .img_col2 .img_col2-2 {
    margin-top: 2px;
  }
}
.galereya .galereya_body .tabcontent_2 .galereya_images .img_col2 .img_col2-2 img {
  max-width: 142px;
  margin-right: 8px;
}
@media (max-width: 1024px) {
  .galereya .galereya_body .tabcontent_2 .galereya_images .img_col2 .img_col2-2 img {
    max-width: 100px;
    margin-right: 4px;
  }
}

.discount {
  width: 100%;
  height: 782px;
  background-image: url("../img/6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.discount .discount_form {
  padding: 54px 26px 78px 20px;
  width: 382px;
  background-color: #1F1F1F;
  position: relative;
  top: 200px;
  left: 80px;
}
@media (max-width: 560px) {
  .discount .discount_form {
    left: 0px;
    margin: 0 auto;
    width: 360px;
  }
}
@media (max-width: 380px) {
  .discount .discount_form {
    width: 240px;
  }
}
.discount .discount_form h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
}
.discount .discount_form h4 span {
  color: #EEAF22;
}
.discount .discount_form p {
  padding: 16px 20px 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
.discount .discount_form form {
  margin: 0 auto;
  width: 276px;
}
.discount .discount_form form label {
  padding-bottom: 4px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.4);
}
.discount .discount_form form input[name=phone] {
  padding-left: 18px;
  width: 280px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  background-color: transparent;
  color: #fff;
}
@media (max-width: 380px) {
  .discount .discount_form form input[name=phone] {
    width: 200px;
  }
}
.discount .discount_form form input[type=submit] {
  width: 280px;
  margin-top: 20px;
  display: inline-block;
  padding: 8px 70px;
  border: 0;
  outline: 0;
  background: #EEAF22;
  border: 2px solid #EEAF22;
  color: #1F1F1F;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.3s linear;
}
@media (max-width: 420px) {
  .discount .discount_form form input[type=submit] {
    width: 220px;
    height: 40px;
  }
}
.discount .discount_form form input[type=submit]:hover {
  border: 2px solid #EEAF22;
  background: transparent;
  color: #FFFFFF;
  cursor: pointer;
}
.discount .discount_form .button {
  transform: skewX(-40deg);
}
.discount .discount_form .button > div {
  transform: skewX(40deg);
}
.discount .discount_form .button {
  margin-top: 20px;
  margin-left: 50px;
  display: inline-block;
  padding: 8px 70px;
  border: 0;
  outline: 0;
  background: #EEAF22;
  border: 2px solid #EEAF22;
  color: #1F1F1F;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.3s linear;
}
@media (max-width: 380px) {
  .discount .discount_form .button {
    margin-left: 26px;
    padding: 10px 26px;
  }
}
@media (max-width: 560px) {
  .discount .discount_form .button {
    margin-left: 34px;
  }
}
@media (max-width: 380px) {
  .discount .discount_form .button {
    margin-left: 16px;
  }
}
.discount .discount_form .button:hover {
  border: 2px solid #EEAF22;
  background: transparent;
  color: #FFFFFF;
}

.working {
  padding: 120px 0 224px;
  position: relative;
}
@media (max-width: 768px) {
  .working {
    padding-bottom: 120px;
  }
}
.working h2 {
  margin-bottom: 50px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #1F1F1F;
  text-align: center;
}
.working .working_body {
  display: flex;
}
@media (max-width: 768px) {
  .working .working_body {
    justify-content: center;
  }
}
.working .working_body .working_img {
  position: absolute;
  top: 200px;
  left: 0px;
  z-index: 1;
}
@media (max-width: 1400px) {
  .working .working_body .working_img {
    left: -140px;
  }
}
@media (max-width: 914px) {
  .working .working_body .working_img {
    left: -300px;
  }
}
@media (max-width: 768px) {
  .working .working_body .working_img {
    display: none;
  }
}
.working .working_body .working_img img {
  max-width: 680px;
}
.working .working_body .working__square {
  padding: 60px 50px 50px 50px;
  width: 520px;
  background-color: #1F1F1F;
  position: relative;
  top: 48px;
  left: 365px;
  z-index: 3;
}
@media (max-width: 914px) {
  .working .working_body .working__square {
    left: 204px;
  }
}
@media (max-width: 768px) {
  .working .working_body .working__square {
    position: relative;
    top: 0;
    left: 0;
  }
}
.working .working_body .working__square .line {
  display: flex;
  justify-content: center;
}
.working .working_body .working__square .line .number p {
  padding: 10px 14px;
  background: #454545;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #EEAF22;
}
@media (max-width: 500px) {
  .working .working_body .working__square .line .number p {
    margin-top: 16px;
  }
}
.working .working_body .working__square .line .text {
  margin-left: 24px;
}
.working .working_body .working__square .line .text h5 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
}
.working .working_body .working__square .line .text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.working .working_body .working__square .line .text p span a {
  color: #EEAF22;
  text-decoration: none;
}
.working .working_body .working__square .fas {
  margin: 10px 0px 10px 32px;
  color: #454545;
  font-size: 32px;
}

.question {
  padding: 100px 0;
  height: 742px;
  background-image: url("../img/8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 460px) {
  .question {
    height: 800px;
  }
}
@media (max-width: 380px) {
  .question {
    height: 900px;
  }
}
.question h2 {
  margin: 0;
  padding-bottom: 40px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #1F1F1F;
  text-align: center;
}
.question .question_body {
  margin-left: 20px;
  margin-right: 20px;
}
.question .question_body .line {
  margin-bottom: 12px;
}
.question .question_body .line .accordion {
  padding: 14px 14px 14px 20px;
  background-color: #4B4B4B;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  cursor: pointer;
  width: 40%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}
@media (max-width: 992px) {
  .question .question_body .line .accordion {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .question .question_body .line .accordion {
    width: 100%;
  }
}
.question .question_body .line .active, .question .question_body .line .accordion:hover {
  background-color: #292929;
}
.question .question_body .line .accordion:after {
  content: "✚";
  color: #EEAF22;
  font-size: 18px;
  float: right;
  margin-left: 5px;
  align-items: center;
}
.question .question_body .line .active:after {
  content: "⚊";
}
.question .question_body .line .panel {
  width: 40%;
  background-color: #4B4B4B;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
@media (max-width: 992px) {
  .question .question_body .line .panel {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .question .question_body .line .panel {
    width: 100%;
  }
}
.question .question_body .line .panel p {
  padding: 6px 20px 20px 20px;
}

.footer {
  padding: 60px 0px 10px 0;
  background-color: #1F1F1F;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 24px;
  }
}
.footer .footer__body {
  width: 100%;
  display: flex;
}
@media (max-width: 768px) {
  .footer .footer__body {
    display: block;
  }
}
.footer .footer__body .footer_col-768px {
  display: none;
}
@media (max-width: 768px) {
  .footer .footer__body .footer_col-768px {
    display: block;
  }
}
.footer .footer__body .footer_col-768px .img {
  text-align: center;
}
.footer .footer__body .footer_col-768px .img img {
  width: 160px;
}
.footer .footer__body .footer_col {
  text-align: center;
  width: 30%;
}
@media (max-width: 768px) {
  .footer .footer__body .footer_col {
    width: 100%;
    margin-top: 46px;
  }
}
@media (max-width: 768px) {
  .footer .footer__body .footer_col ul {
    display: none;
  }
}
.footer .footer__body .footer_col ul li {
  margin-bottom: 10px;
}
.footer .footer__body .footer_col ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}
.footer .footer__body .footer_col ul li a:hover {
  color: #EEAF22;
}
.footer .footer__body .footer_col ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #EEAF22;
  transition: width 0.5s ease-out;
}
.footer .footer__body .footer_col ul li a::before:last-child {
  display: none;
}
.footer .footer__body .footer_col ul li a:hover::before {
  width: 100%;
}
.footer .footer__body .footer_col ul li a img {
  width: 100px;
}
.footer .footer__body .footer_col ul li .none::before {
  display: none;
}
.footer .footer__body .footer_col ul li .button {
  transform: skewX(-40deg);
}
.footer .footer__body .footer_col ul li .button > div {
  transform: skewX(40deg);
}
.footer .footer__body .footer_col ul li .button {
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid #EEAF22;
  background: transparent;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.3s linear;
}
.footer .footer__body .footer_col ul li .button:hover {
  background: #EEAF22;
  color: #1F1F1F;
}
.footer .footer__body .footer_col p {
  margin-bottom: 22px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .footer .footer__body .footer_col p {
    margin-bottom: 0px;
  }
}
.footer .footer__body .footer_col .big {
  margin-bottom: 60px;
  font-size: 18px;
  font-weight: normal;
}
@media (max-width: 768px) {
  .footer .footer__body .footer_col .big {
    margin-bottom: 20px;
  }
}
.footer .footer__body .footer_col-center {
  width: 40%;
}
@media (max-width: 768px) {
  .footer .footer__body .footer_col-center {
    width: 100%;
    margin-top: 46px;
  }
}
.footer .footer__body .footer_col-center p {
  margin-bottom: 22px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
}
.footer .footer__body .footer_col-center .group_button {
  text-align: center;
}
.footer .footer__body .footer_col-center .group_button .button {
  transform: skewX(-40deg);
}
.footer .footer__body .footer_col-center .group_button .button > div {
  transform: skewX(40deg);
}
.footer .footer__body .footer_col-center .group_button .button {
  margin: 0 4px 10px 4px;
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid #EEAF22;
  background: transparent;
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.3s linear;
}
.footer .footer__body .footer_col-center .group_button .button:hover {
  background: #EEAF22;
  color: #1F1F1F;
}
.footer .end {
  margin-top: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
}
@media (max-width: 768px) {
  .footer .end {
    margin-top: 46px;
  }
}/*# sourceMappingURL=style.css.map */